<!-- Primary Author: Jonathan Allen (jallen01) -->
<!-- Personal bill modal -->

<div class="row">
  <h4>Your Items</h4>

  <table class="table table-condensed">
    <tr>
      <th>Item Name</th>
      <th>Item Cost</th>
      <th>Personal Cost</th>
    </tr>
    <% @group.get_user_items(current_user).each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= number_to_currency(item.cost) %></td>
        <td><%= number_to_currency(item.user_cost) %></td>
      </tr>
    <% end %>
  </table>

  <h5>Your Items Total: <%= number_to_currency(@group.get_user_total(current_user)) %></h5>
</div>

<div class="row">
    <h4>People You Are Spotting</h4>

    <table class="table table-condensed" id="debtors-list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Cost</th>
          <th class="span1"></th>
        </tr>
      </thead>
      <tbody>
        <%= render "memberships/debtors_list" %>
      </tbody>
    </table>

    <div id="add-debtor-form" >
      <%= render "memberships/add_debtor_form" %>
    </div>
</div>

<% if @membership.creditor %>
  <div class="row">
    <h4><%= @membership.creditor.user.name %> [ <%= @membership.creditor.user.email %> ] is spotting you!</h4>
  </div>
<% end %>

<h3 class="text-danger" id="total-bill"><%= render "memberships/total_bill" %></h3>



