<%= form_for [@group, membership], remote: true, id: "membership-form" do |f| %>

  <%= render "layouts/form_errors", errors: membership.errors %>

  <div class="form-group">
    <%= label_tag :email, "Add User" %>
    <%= text_field_tag :email, nil, class: "form-control", placeholder: "User Email" %>
  </div>

  <%= submit_tag "Add User", class: "btn btn-default" %>

<% end %>