<%= form_for membership, remote: true do |f| %>

  <div class="modal-body">

    <%= render "layouts/form_errors", errors: @membership.errors %>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control", placeholder: "User Email" %>
    </div>
  </div>

  <%= render "layouts/modal_form_footer", f: f %>

<% end %>