<!-- Primary Author: Jonathan Allen (jallen01) -->

<!-- Edit group modal -->
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Edit Group</h4>
</div>

<%= form_for @group, remote: true do |f| %>

  <div class="modal-body">
    <%= render "layouts/form_errors", errors: @group.errors %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-default" data-dismiss="modal">Close</button>
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>
    
