<!-- Primary Author: Jonathan Allen (jallen01) -->
<!-- Group info modal form -->

<% if current_user == group.owner %>
  <%= form_for group, remote: true, html: { class: "modal-form" } do |f| %>
    <%= render "layouts/form_errors", errors: group.errors %>

    <h4>Group Name</h4>
    <div class="form-group">
      <%= f.text_field :name, class: "form-control", placeholder: "Group Name" %>
      <%= hidden_field_tag "original_group_name", group.name %>
    </div>
    
  <% end %>
<% end %>  

<% unless group.new_record? %>
  <!-- Membership list -->
  <h4>Members</h4>
  <table class="table table-bordered table-condensed", id="group-users-list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th class="span1"></th>
      </tr>
    </thead>
    <tbody>
      <%= render "groups/users_list" %>
    </tbody>
  </table>
  
  <% if current_user == group.owner %>
    <div id="group-add-user-form" >
      <%= render "groups/add_user_form" %>
    </div>
  <% end %>
<% end %>