<%= form_for group, remote: true do |f| %>

  <div class="modal-body">
    <%= render "layouts/form_errors", errors: group.errors %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", placeholder: "Group Name" %>
    </div>

    <%= hidden_field_tag "original_group_name", group.name %>

    <% unless group.new_record? %>
      <%= render "memberships/list" %>
      <%= render "memberships/form", membership: @new_membership %>
    <% end %>
  </div>

  <%= render "layouts/modal_form_footer", f: f %>

<% end %>