<%= form_for group, remote: true do |f| %>

  <div class="modal-body">
    <%= render "layouts/form_errors", errors: group.errors %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", placeholder: "Group Name" %>
    </div>

    <%= f.hidden_field :name, id: "original_group_name" %>

    <% unless group.new_record? %>
      <%= render "group_users/list" %>
      <%= render "group_users/form", group_user: @new_group_user %>
    <% end %>
  </div>

  <%= render "layouts/modal_form_footer", f: f %>

<% end %>