<!-- Primary Author: Jonathan Allen (jallen01) -->
<!-- New group modal -->

<%= render "layouts/modal_header", modal_title: "New Group" %>

<%= form_for @new_group, remote: true do |f| %>

  <div class="modal-body">
  
    <%= render "layouts/form_errors", errors: @new_group.errors %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", placeholder: "Group Name" %>
    </div>

  </div>

  <%= render "layouts/modal_form_footer", f: f %>

<% end %>

    