<div id="show-group">
  <h2><%= @group.name %></h2>
  <span><%= link_to "(edit group name)", edit_group_url(@group) %></span>
  <br>
  <br>
  <div class="hero-unit">
    <table id="group-items">
      <% @items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= number_to_currency(item.cost, :unit => "$") %></td>
          <td>
          </td>
          <td>

          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <button class="btn btn-large" id="show-add-item">Add Item</button>
  <button class="btn btn-large btn-info get-bill">Check Please!</button>
  <div id="add-item-area">
    <input type="text" id="item-name" placeholder="Item Name" />
    <input type="text" id="item-cost" placeholder="Cost"/>
    <button class="btn btn-success" id="add-item">Add</button>
    <button class="btn btn-danger" id="cancel-add-item">Cancel</button>
    <div class="alert alert-error"></div>
  </div>
  <br /><br />
  <p><%= link_to "Back to all groups", groups_url, :class => "back-url" %></p>

  <div class="modal fade" id="bill-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Compute your bill</h4>
        </div>
        <div class="modal-body">
          <p>Total items: $<span id="item-total"></span></p>
          <p>Tax: <input type="text" id="tax-pct" value="7.25"/> % = $<span id="tax-amt"></span></p>
          <p>Tip: <input type="text" id="tip-pct" value="15" /> % = $<span id="tip-amt"></span></p>
          <p>Total Bill: <span id="total-bill"></span></p>
          <p>Split across <input type="text" id="num-people" value="4"/> people</p>
          <p class="bold">Each person owes $<span id="split-cost"></span></p>
          <button class="btn btn-info get-bill">Compute new bill</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
