<!-- Primary Author: Jonathan Allen (jallen01) -->

<!-- Group page. Includes list of items. -->

<div class="page-header">
  <h1 id="group-name"><%= @group.name %></h2>
  <%= link_to "Edit Group", "#edit_group", class: "btn", id: "edit-group-link" %>
  <%= link_to "Group Users", "#group_users", class: "btn", id: "group-users-link" %>
</div>

<!-- Items  -->
<table class="table table-bordered table-condensed", id="items-list" >
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Cost</th>
      <th class="span2"></th>
    </tr>
  </thead>

  <tbody>
    <%= render "items/list" %>
  </tbody>
</table>

<%= link_to "Add Item", "#add_item", class: "btn btn-large", id: "new-item-link" %>

<%= link_to "Check Please!", group_user_url(@group, current_user), class: "btn btn-large", id: "get-bill-link", remote: true %>

<!-- Edit group modal -->
<div class="modal fade" id="edit-group-modal" aria-hidden="true" data-form="reset">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= render "groups/edit" %>
    </div>
  </div>
</div>

<!-- New item modal -->
<div class="modal fade" id="new-item-modal" aria-hidden="true" data-form="temporary">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= render "items/new" %>
    </div>
  </div>
</div>

<!-- Blank modal for other forms -->
<%= render "layouts/blank_modal" %>
