<div id="show-group">
  <h2><%= @group.name %></h2>
  <br>
  <br>
  <div class="hero-unit">
    <table id="group-items">
      <% @items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= number_to_currency(item.cost, :unit => "$") %></td>
          <td>
          </td>
          <td>

          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <button class="btn btn-large" id="show-add-item">Add Item</button>
  <%= link_to "Check Please!", @bill_url, :class => "btn btn-large btn-info" %>
  <div id="add-item-area">
    <input type="text" id="item-name" placeholder="Item Name" />
    <input type="text" id="item-cost" placeholder="Cost"/>
    <button class="btn btn-success" id="add-item">Add</button>
    <button class="btn btn-danger" id="cancel-add-item">Cancel</button>
    <div class="alert alert-error">Enter a valid numeric cost</div>
  </div>
  <br /><br />
  <p><%= link_to "Back to all groups", groups_url, :class => "back-url" %></p>
</div>