<!-- Primary Author: Charles Liu (cliu2014) -->
<div id="show-group">
  <h2 id="group-name"><%= @group.name %></h2>
  <span><%= link_to "edit group", "#edit_group", id: "edit-group-link" %></span>
  <br>
  <br>
  
  <%= render "items/list" %>

  <%= link_to "Add Item", new_group_item_url(@group), remote: true, class: "btn btn-large" %>

  <button class="btn btn-large btn-info" id="get-bill-link">Check Please!</button>

  <p><%= link_to "Back to all groups", groups_url, :class => "back-url" %></p>

  <%= render "edit" %>

  <%= render "items/new" %>

  <%= render "layouts/blank_modal" %>
</div>
