<!-- Primary Author: Charles Liu (cliu2014) -->
<div id="show-group">
  <%= content_tag :h2 @group.name, id: "group-name" %>
  <span><%= link_to "edit group", edit_group_url(@group), remote: true, class: "edit-group-link" %></span>
  <br>
  <br>
  
  <%= render "group_items" %>

  <button class="btn btn-large" id="show-add-item">Add Item</button>
  <button class="btn btn-large btn-info" id="get-bill">Check Please!</button>

  <div id="add-item-area">
    <input type="text" id="item-name" placeholder="Item Name" />
    <input type="text" id="item-cost" placeholder="Cost"/>
    <button class="btn btn-success" id="add-item">Add</button>
    <button class="btn btn-danger" id="cancel-add-item">Cancel</button>
    <div class="alert alert-error" id="add-item-error"></div>
  </div>
  
  <br /><br />
  <p><%= link_to "Back to all groups", groups_url, :class => "back-url" %></p>

  <div class="modal fade" id="personal-bill">
    <%= render "show_bill" %>
  </div>

</div>
