<!-- Primary Author: Jonathan Allen (jallen01) -->
<!-- Item info modal form -->
<!-- Partial variables: item -->

<%= form_for [@group, item], remote: true, html: { class: "modal-form" } do |f| %>
  <div class="modal-body">

    <%= render "layouts/form_errors", errors: item.errors %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", placeholder: "Item Name" %>
    </div>

    <div class="form-group">
      <%= f.label :cost %>
      <div class="input-prepend">
        <span class="add-on">$</span>
        <%= f.text_field :cost, placeholder: "0.00", class: "form-control" %>
      </div>
    </div>

    <!-- Show the checkbox only with the edit users table -->
    <% unless item.new_record? %>
      <div class="checkbox">
        <%= f.label :group_expense do %>
          <%= f.check_box :group_expense %> Include All Users (e.g. tax)
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% unless item.new_record? %>
  <div class="edit-users">
    <h4>Who consumed this item?</h4>
    <!-- List users associated with item -->
    <table class="table table-bordered table-condensed" id="item-users-list" >
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th class="span1"></th>
        </tr>
      </thead>
      <tbody>
        <%= render "items/users_list" %>
      </tbody>
    </table>

    <div>

    <!-- Add user to item -->
    <div id="item-add-user-form">
      <%= render "items/add_user_form" %>
    </div>
  </div>
<% end %>