<!DOCTYPE html>
<html>
<head>
  <title>BillSplitter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="navbar-container">
          <nav>
            <ul class="nav pull-right">
              <% if signed_in? %>
                <li><%= link_to "Welcome, #{current_user.name}", edit_user_registration_url(current_user) %></li>
                <li><%= link_to "Log out", log_out_path %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
</header>
<div class="container">
	<%= yield %>
</div>

</body>
</html>
